.cluebar {
	width: 100%;
	min-height: 60px;
	max-height: 60px;
	line-height: 23px;
	font-size: 14px;
	background: #C7E8F3;
	padding: 0px 20px;
	font-family: 'Libre Franklin', sans-serif;
	display: flex;
	align-items: stretch;
	vertical-align: baseline;
	align-items: center;
}

.arrow {
	/* width: 10%; */
	font-size: 20px;
	width: 10%;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.cluebar-index {
	margin-right: 15px;
	text-align: right;
	width: 24px;
	min-width: 24px;
	line-height: 23px;
}

.cluebar-clue {
	width: 90%;
	padding-left: 4%;
	padding-right: 4%;
}
