* {
	box-sizing: border-box;
}

.cluebar-board {
	margin-top: 10px;
	height: 100%;
	width: 100%;
}

.cluelists {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: row;

	margin-left: 20px;
}

.puzzle {
	margin: auto;
	display: flex;
	padding: 10px 0;
}

.simple-keyboard .hg-row:nth-child(2) {
	padding-left: 3%;
	padding-right: 3%;
}

.simple-keyboard .hg-row:nth-child(3) {
	padding-left: 14%;
	padding-right: 2%;
}

/* @media only screen and (max-width: 1200px) {
	  .puzzle {
		height: 100vh;
		max-height: 660px;
		min-width: 1132px;
		margin: auto;
		display: flex;
		padding: 30px 0;
	}
}

@media only screen and (max-width: 1100px) {
    .cluelists {
		height: 100%;
		width: 55%;

		display: flex;
		flex-direction: column;

		margin-left: 20px;
	}
} */
