* {
	box-sizing: border-box;
}

.cluebar-board {
	height: 100%;
	width: 45%;
}

.cluelists {
	height: 100%;
	width: 55%;

	display: flex;
	flex-direction: row;

	margin-left: 20px;
}

.puzzle {
	height: 100vh;
	max-height: 660px;
	max-width: 1132px;
	margin: auto;
	display: flex;
	padding: 10px 0;
}

@media only screen and (max-width: 1200px) {
	  .puzzle {
		height: 100vh;
		max-height: 660px;
		min-width: 1132px;
		margin: auto;
		display: flex;
		padding: 30px 0;
	}
}
